extends ../../layout

block content
  div(class='col-md-6')
    form(id='shipOnDock-add-form' name='shipOnDock-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=shipOnDock.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') #{shipOnDock.ship} #{shipOnDock.port} 
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete