extends ../../layout

block content
  div(class='col-md-6')
    form(id='port-add-form' name='port-add-form' class='form-horizontal' method="POST" action='')
      div(class='form-group')
        div(class='col-md-3')
          label(for='code') EDRPOU Number
        div(class='col-md-9')
          input(id='code' name='code' value=$fn.getPropOrDefault(newPort, 'code') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Name
        div(class='col-md-9')
          input(id='name' name='name' value=$fn.getPropOrDefault(newPort, 'name') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='country') Country
        div(class='col-md-9')
          input(id='country' name='country' value=$fn.getPropOrDefault(newPort, 'country') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='address') Address 
        div(class='col-md-9')
          input(id='address' name='address' value=$fn.getPropOrDefault(newPort, 'address') class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Create